<mat-spinner *ngIf="processing | async"></mat-spinner>

<app-container *ngIf="(processing | async) === false">
  <header>
    <div class="mat-display-2 title">Your account</div>
    <h3>You are logged in as: {{ (user | async)?.email }}</h3>

    <!-- <button type="button" mat-button>Change email</button> -->
    <a routerLink="/account/email/change-password">
      <button type="button" mat-stroked-button color="primary" class="change-password-btn">Change password</button>
    </a>
    <button type="button" mat-stroked-button color="warn" class="logout-btn" (click)="logout()">Logout</button>
  </header>

  <main *ngIf="user | async as userData" fxLayout>
    <div fxFlex="0" fxFlex.gt-md="15" fxFlex.gt-lg="20"></div>
    <div fxFlex="100" fxFlex.gt-md="70" fxFlex.gt-lg="60">
      <div class="your-subscription">
        <div class="level">
          <h1 class="large">
            Your plan: <span [class.highlight]="yourSubscription">{{yourSubscription ? 'Premium' : 'Free'}}</span>
          </h1>

          <span class="small"
            *ngIf="yourSubscription && yourSubscription !== userData.email"
            [matTooltip]="'Your subscription is paid for by ' + yourSubscription"
          >
            (Provided by {{yourSubscription}})
          </span>

          <button type="button"
            *ngIf="false || !yourSubscription"
            mat-stroked-button
            class="upgrade-btn"
            color="accent"
            matTooltip="Click to purchase a subscription"
            (click)="purchase(1, true)"
          >Upgrade</button>
        </div>

        <div class="errors" *ngIf="purchaseError | async as error">
          <mat-icon inline>warning</mat-icon> {{ error }}
        </div>
      </div>

      <h1 class="manage-subscriptions-title" fxLayout.lt-sm="column">
        <span>Manage Subscriptions</span>

        <button type="button"
          *ngIf="totalPurchased > 0"
          mat-stroked-button
          color="primary"
          class="manage-payments-btn"
          matTooltip="Click to manage payments or change the number of subscriptions"
          (click)="manage()"
        >Manage payments</button>
      </h1>

      <div class="manage-payments-errors" *ngIf="manageError | async as error">
        <mat-icon inline>warning</mat-icon> {{ error }}
      </div>

      <div class="teammate-purchase" fxLayout.lt-sm="column">
        <h3 class="left">
          Subscriptions purchased: <span class="highlight">{{totalPurchased}}</span>
        </h3>

        <div class="right" [ngStyle.gt-xs]="{ 'margin-left': '10px' }">
          <mat-form-field>
            <mat-label>Quantity</mat-label>
            <input matInput
              type="number"
              min="1"
              max="100"
              [formControl]="quantityControl"
            >
            <mat-hint
              align="start"
              matTooltip="You can buy subscriptions and assign them to other users e.g. teammates"
            >
              <mat-icon inline class="info-icon">info</mat-icon>
              Buy more subscriptions
              <!-- <strong>Buy more subscriptions</strong> -->
            </mat-hint>
            <mat-error *ngIf="quantityControl.hasError('min')">
              Must be greater than 0
            </mat-error>
            <mat-error *ngIf="quantityControl.hasError('max')">
              Must be less than 100
            </mat-error>
          </mat-form-field>
          <button type="button"
            mat-stroked-button
            class="teammate-purchase-btn"
            color="accent"
            matTooltip="Click to purchase subscriptions that can be assigned to other users"
            [disabled]="!quantityControl.value || quantityControl.invalid"
            (click)="purchase(quantityControl.value, false)"
          >Purchase</button>
        </div>
      </div>

      <div class="subscriptions" *ngIf="totalPurchased > 0">
        <h3>Assigned subscriptions ({{ assigned.length }}):</h3>
        <ul class="subscription-list">
          <li *ngFor="let subscription of assigned">
            <span class="email" [matTooltip]="subscription.email">{{ subscription.email }}</span>
            <span *ngIf="!subscription.autoRenew"
              class="expires-warning"
              matTooltip="This subscription is due to expire. After expiry you may assign the subscription to another user"
            >
              <mat-icon inline fxHide.gt-xs>schedule</mat-icon>
              <span fxHide.lt-sm>Expires on</span>
              {{ subscription.expiryDate | date }}
            </span>
            <span *ngIf="subscription.autoRenew && subscription.pausedUntil"
              class="expires-warning"
              matTooltip="Payment for this subscription has been paused"
            >
              <mat-icon inline fxHide.gt-xs>pause</mat-icon>
              <span fxHide.lt-sm>Paused until</span>
              {{ subscription.pausedUntil | date }}
            </span>
            <button type="button"
              *ngIf="!subscription.autoRenew"
              mat-icon-button
              color="primary"
              matTooltip="Reinstate subscription"
              (click)="assign(subscription.email)"
            ><mat-icon class="nudge-up">restart_alt</mat-icon></button>
            <button type="button"
              *ngIf="subscription.autoRenew"
              mat-icon-button
              color="warn"
              [matTooltip]="subscription.activated ? 'Unassign subscription at the end of the billing period' : 'Unassign subscription'"
              (click)="unassign(subscription)"
            >
              <mat-icon [class.nudge-right]="subscription.activated">
                {{ subscription.activated ? 'auto_delete' : 'delete' }}
              </mat-icon>
            </button>
          </li>
        </ul>

        <mat-form-field class="assign-subscription" *ngIf="totalPurchased > assigned.length">
          <mat-label>Assign a subscription</mat-label>
          <input matInput
            type="email"
            placeholder="Enter the user's email address..."
            [formControl]="assignEmailControl"
          >
          <mat-error *ngIf="assignEmailControl.hasError('email')">
            Invalid email
          </mat-error>
          <mat-error *ngIf="assignEmailControl.hasError('server')">
            {{ assignEmailControl.getError('server').join(', ') }}
          </mat-error>
        </mat-form-field>
        <button type="button"
          *ngIf="totalPurchased > assigned.length"
          mat-icon-button
          matTooltip="Assign a subscription to this user"
          [disabled]="!assignEmailControl.value || assignEmailControl.invalid"
          (click)="assign(assignEmailControl.value); assignEmailControl.reset()"
        >
          <mat-icon>add</mat-icon>
        </button>

        <div class="assign-warning" *ngIf="totalPurchased > assigned.length">
          <mat-icon inline>info</mat-icon>You have
          <span class="highlight">{{ totalPurchased - assigned.length }}</span>
          unassigned subscription{{(totalPurchased - assigned.length) > 1 ? 's' : ''}}.
          You can assign the remaining one{{(totalPurchased - assigned.length) > 1 ? 's' : ''}},
          or cancel excess subscriptions by clicking the Manage Payments button and reducing the subscription quantity.
        </div>
      </div>
    </div>
    <div fxFlex="0" fxFlex.gt-md="15" fxFlex.gt-lg="20"></div>
  </main>
</app-container>
