@use '@angular/material' as mat;
@use 'src/theme' as theme;

:host {
  display: block;
  padding-top: 40px;
  text-align: center;
}

header {
  margin-bottom: 30px;

  .title {
    margin-bottom: 20px;
  }

  > h3 {
    margin-bottom: 10px;
  }

  .change-password-btn {
    margin-right: 10px;
  }
}

main {
  text-align: left;

  .your-subscription {
    .highlight {
      color: mat.get-color-from-palette(theme.$app-accent-palette, A100);
    }

    .small {
      font-size: 0.5em;
      margin-left: 5px;
      vertical-align: middle;
    }
  }

  .purchase-btn {
    display: block;
    margin-bottom: 10px;
  }

  .payments-btn {
    display: block;
    margin-bottom: 10px;
  }

  .errors {
    vertical-align: middle;
    margin-bottom: 10px;

    > mat-icon {
      margin-right: 5px;
      vertical-align: middle;
    }
  }

  .subscriptions {
    margin-bottom: 10px;
    margin-top: 30px;

    > h2 {
      margin-bottom: 0;
    }

    .subscription-list {
      margin: 0;
      padding: 0;

      > li {
        display: flex;
        justify-content: space-between;
        line-height: 40px;
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;

        button {
          opacity: 0;
          transition: opacity ease-in-out 0.3s;
        }

        &:hover {
          button {
            opacity: 1;
          }
        }
      }
    }
  }

  .form-field {
    min-width: 250px;
    width: 100%;
    margin-bottom: 10px;
  }

  .warning {
    color: mat.get-color-from-palette(theme.$app-accent-palette, A100);
    color: mat.get-color-from-palette(theme.$app-primary-palette, 200);

    > mat-icon {
      margin-right: 5px;
      vertical-align: top;
    }
  }
}
