@use '@angular/material' as mat;
@use 'src/theme' as theme;

:host {
  display: block;
  padding-top: 40px;
  text-align: center;
}

mat-spinner {
  margin: 0 auto;
}

header {
  margin-bottom: 30px;

  .title {
    margin-bottom: 20px;
  }

  > h3 {
    margin-bottom: 10px;
  }

  .change-password-btn {
    margin-right: 10px;
  }
}

main {
  text-align: left;

  .your-subscription {
    margin-bottom: 60px;

    .level {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      height: 36px;

      .large {
        flex-shrink: 0;
        margin-bottom: 0;
      }

      .small {
        font-size: 10px;
        margin-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .highlight {
        color: mat.get-color-from-palette(theme.$app-accent-palette, A100);
      }

      .upgrade-btn {
        align-self: center;
        margin-left: 10px;
      }
    }

    .errors {
      color: mat.get-color-from-palette(theme.$app-warn-palette);
      font-size: 14px;
      line-height: 20px;
      margin-top: 10px;
      margin-bottom: 26px;
      vertical-align: middle;

      > mat-icon {
        margin-right: 5px;
        vertical-align: middle;
      }
    }
  }

  .manage-subscriptions-title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;

    > span {
      margin-bottom: 20px;
    }

    .manage-payments-btn {
      margin-bottom: 20px;
    }
  }

  .manage-payments-errors {
    color: mat.get-color-from-palette(theme.$app-warn-palette);
    margin-bottom: 26px;
    vertical-align: middle;

    > mat-icon {
      margin-right: 5px;
      vertical-align: middle;
    }
  }

  .teammate-purchase {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;

    .right {
      flex-shrink: 0;
    }

    .highlight {
      color: mat.get-color-from-palette(theme.$app-primary-palette, 300);
    }

    mat-form-field {
      margin: 0 5px;
      width: 160px;
    }

    .info-icon {
      margin-right: 5px;
      vertical-align: top;
    }

    .teammate-purchase-btn {
      margin-left: 10px;
    }
  }

  .subscriptions {
    margin-bottom: 10px;

    > h3 {
      margin-bottom: 0;
    }

    .subscription-list {
      margin: 0;
      padding: 0;
      min-width: 50%;
      max-width: 100%;
      width: fit-content;

      > li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
        height: 40px;
        line-height: 40px;

        .email {
          overflow: hidden;
          text-overflow: ellipsis;
          flex: 1;
        }

        button {
          margin-left: 10px;

          mat-icon {
            &.nudge-up {
              transform: translateY(-2.5px);
            }

            &.nudge-right {
              transform: translateX(3.5px);
            }
          }
        }

        mat-spinner {
          margin-left: 18px;
          margin-right: 8px;
        }

        .expires-warning {
          color: mat.get-color-from-palette(theme.$app-primary-palette, 200);
          margin-left: 20px;

          mat-icon {
            vertical-align: bottom;
          }
        }
      }
    }

    .assign-subscription {
      min-width: 247px;
      margin-bottom: 20px;
    }

    .assign-warning {
      color: mat.get-color-from-palette(theme.$app-primary-palette, 200);

      > mat-icon {
        margin-right: 5px;
        vertical-align: top;
      }
    }
  }
}

::ng-deep snack-bar-container {
  color: #000;

  &.error {
    background: mat.get-color-from-palette(theme.$app-warn-palette, 300);
  }

  &.success {
    background: mat.get-color-from-palette(theme.$app-primary-palette, 300);
  }
}
