<app-container>
  <header>
    <div class="mat-display-2 title">Your account</div>
    <h3>You are logged in as: {{ (user | async)?.email }}</h3>

      <!-- <button type="button" mat-button>Change email</button> -->
    <button type="button" mat-stroked-button color="primary" class="change-password-btn">Change password</button>
    <button type="button" mat-stroked-button color="warn" class="logout-btn" (click)="logout()">Logout</button>
  </header>

  <main *ngIf="user | async as userData" fxLayout>
    <div fxFlex="25" fxFlex.lt-md="16" fxFlex.lt-sm="0"></div>
    <div fxFlex fxFlex.lt-sm="100">
      <h2 class="your-subscription">
        Your subscription level: <span class="highlight">{{yourSubscription ? 'Premium' : 'Free'}}</span>
        <span class="small" *ngIf="yourSubscription && yourSubscription !== userData.email">
          (Provided by {{yourSubscription}})
        </span>
      </h2>

      <button type="button"
        *ngIf="true || !yourSubscription"
        mat-stroked-button
        class="purchase-btn"
        color="accent"
        title="Click to purchase a subscription"
        (click)="purchase(1, true)"
      >Purchase subscription</button>

      <div class="errors" *ngIf="purchaseError | async as error">
        <mat-icon inline color="warn">warning</mat-icon> {{ error }}
      </div>

      <button type="button"
        mat-stroked-button
        class="payments-btn"
        color="primary"
        title="Click to manage payments or change the number of subscriptions"
        (click)="manage()"
      >Manage payments</button>

      <div class="errors" *ngIf="manageError | async as error">
        <mat-icon inline color="warn">warning</mat-icon> {{ error }}
      </div>

      <div class="teammate-purchase">
        <mat-form-field *ngIf="totalPurchased > assigned.length">
          <mat-label>Quantity</mat-label>
          <input matInput
            type="number"
            min="1"
            max="100"
            [formControl]="quantityControl"
          >
          <mat-error *ngIf="quantityControl.hasError('min')">
            Must be greater than 0
          </mat-error>
          <mat-error *ngIf="quantityControl.hasError('max')">
            Must be less than 100
          </mat-error>
        </mat-form-field>
        <button type="button"
          mat-stroked-button
          class="purchase-teammates-btn"
          color="accent"
          title="Click to purchase subscriptions that can be assigned to other accounts"
          (click)="purchase(quantityControl.value, false)"
        >Purchase subscriptions for teammates</button>
      </div>

      <div class="subscriptions" *ngIf="totalPurchased > 0">
        <h2>Assigned subscriptions ({{ assigned.length }}):</h2>
        <ul class="subscription-list">
          <li *ngFor="let subscription of assigned">
            <span>{{ subscription.email }}</span>
            <span *ngIf="!subscription.autoRenew" title="After expiry you may assign the subscription to another user">
              Expires {{ subscription.expiryDate | date }}
            </span>
            <button type="button"
              *ngIf="!subscription.autoRenew"
              mat-icon-button
              title="Reinstate subscription"
              (click)="assign(subscription.email)"
            >
              <mat-icon>plus</mat-icon>
            </button>
            <button type="button"
              *ngIf="subscription.autoRenew"
              mat-icon-button
              [title]="subscription.activated ? 'Expire subscription at the end of the billing period' : 'Remove subscription'"
              (click)="unassign(subscription)"
            >
              <mat-icon>{{ subscription.activated ? 'time' : 'delete' }}</mat-icon>
            </button>
          </li>
        </ul>
      </div>

      <mat-form-field class="form-field" *ngIf="totalPurchased > assigned.length">
        <mat-label>Assign to user</mat-label>
        <input matInput
          type="email"
          [formControl]="assignEmailControl"
        >
        <button type="button"
          matSuffix
          mat-icon-button
          title="Assign a subscription to this user"
          (click)="assign(assignEmailControl.value)"
        >
          <mat-icon>add</mat-icon>
        </button>
        <mat-error *ngIf="assignEmailControl.hasError('server')">
          {{ assignEmailControl.getError('server').join(', ') }}
        </mat-error>
      </mat-form-field>

      <div class="warning" *ngIf="totalPurchased > assigned.length">
        <mat-icon inline>info</mat-icon>You have
        <span class="highlight">{{ totalPurchased - assigned.length }}</span>
        unassigned subscription{{(totalPurchased - assigned.length) > 1 ? 's' : ''}}.
        You can assign the remaining one{{(totalPurchased - assigned.length) > 1 ? 's' : ''}} above,
        or cancel excess subscriptions by clicking the Manage Payments button at the top of the page and reducing the subscription quantity.
      </div>
    </div>
    <div fxFlex="25" fxFlex.lt-md="16" fxFlex.lt-sm="0"></div>
  </main>
</app-container>
