<app-container [style.flex-direction]="(ltMd | async) ? 'column-reverse' : 'row'">
  <mat-card appearance="outlined" class="free">
    <h2 class="mat-headline-4">Basic</h2>

    <h3 class="price">Free</h3>

    <a class="purchase-btn" routerLink="/download">
      <button mat-stroked-button>
        Download
      </button>
    </a>

    <ul class="features">
      <li class="item"><mat-icon>public</mat-icon>Work with public &amp; private repositories</li>
      <li class="item"><mat-icon>tab</mat-icon>Use up to two tabs simultaneously</li>
      <li class="item"><mat-icon>dark_mode</mat-icon>Dark theme</li>
      <li class="item"><mat-icon>commit</mat-icon>Visual commit graph</li>
      <li class="item"><mat-icon>difference</mat-icon>Diffs with full syntax highlighting</li>
      <li class="item"><mat-icon>build</mat-icon>Built-in merge conflict editor</li>
      <li class="item"><mat-icon>layers</mat-icon>Work with submodules</li>
      <li class="item"><mat-icon>compress</mat-icon>Squash commits</li>
      <li class="item"><mat-icon>edit</mat-icon>Rewrite commit history</li>
      <li class="item"><mat-icon>search</mat-icon>Search across file changes &amp; commits</li>
      <li class="item"><mat-icon>visibility_off</mat-icon>Show/hide branches</li>
      <li class="item"><mat-icon>merge_type</mat-icon>Manage multiple merges simultaneously</li>
      <li class="item"><mat-icon>group</mat-icon>Quickly switch profiles</li>
      <li class="item"><mat-icon>key</mat-icon>Manage credentials</li>
      <li class="item"><mat-icon>description</mat-icon>File history / blame</li>
      <li class="item"><mat-icon>undo</mat-icon>Undo mistakes</li>
      <li class="item"><mat-icon>archive</mat-icon>Stash changes</li>
      <!-- <li class="item">
        <span>
          <mat-icon>touch_app</mat-icon>
          <del>Drag &amp; Drop</del>
        </span>
      </li>
      <li class="item">
        <span>
          <mat-icon>verified</mat-icon>
          <del>GPG commit signing</del>
        </span>
      </li>
      <li class="item">
        <span>
          <mat-icon>image</mat-icon>
          <del>Image diffs</del>
        </span>
      </li> -->
    </ul>
  </mat-card>
  <mat-card appearance="outlined" class="premium">
    <h2 class="mat-headline-4">Premium</h2>

    <h3 class="price">
      {{price | async}} /
      <mat-form-field appearance="outline">
        <mat-select [formControl]="frequencyControl">
          <mat-option value="month">Month</mat-option>
          <mat-option value="year">Year</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-select [formControl]="currencyControl">
          <mat-option value="USD">USD $</mat-option>
          <mat-option value="CNY">CNY 元</mat-option>
          <mat-option value="EUR">EUR €</mat-option>
          <mat-option value="GBP">GBP £</mat-option>
          <mat-option value="JPY">JPY 円</mat-option>
        </mat-select>
      </mat-form-field>
    </h3>

    <button class="purchase-btn" mat-stroked-button color="accent" [disabled]="purchaseInProgress | async" (click)="buyLicense()">
      <mat-spinner *ngIf="purchaseInProgress | async" diameter="18"></mat-spinner>
      Buy License
    </button>

    <div class="errors" *ngIf="purchaseError | async as error">
      <mat-icon inline>warning</mat-icon>
      There was a problem processing the request.
      Please <a class="link" routerLink="/contact">contact us</a> quoting code {{ error }}.
    </div>

    <ul class="features">
      <li class="item highlight">
        <mat-icon>check</mat-icon>All basic features
      </li>
      <li class="item"><mat-icon>tab</mat-icon>Unlimited tabs</li>
      <li class="item"><mat-icon>light_mode</mat-icon>Light theme</li>
    </ul>
  </mat-card>
</app-container>
