@use '@angular/material' as mat;
@use 'src/theme' as theme;

:host {
  display: block;
  padding-top: 40px;
  text-align: center;
}

app-container {
  display: flex;
  justify-content: space-between;
}

.free, .premium {
  flex: 0 0 45%;
  margin-bottom: 20px;
  padding-top: 40px;
}

.premium {
  .mat-headline-4 {
    color: mat.get-color-from-palette(theme.$app-accent-palette, A100);
  }
}

.mat-headline-4 {
  margin-bottom: 20px;
  font-family: 'Alegreya Sans SC', sans-serif;
  letter-spacing: 0.1rem;
}

.price {
  line-height: 32px;
  margin: 0;

  mat-form-field {
    margin-left: 10px;
    width: 110px;

    ::ng-deep {
      .mat-mdc-form-field-infix {
        padding-top: 4px;
        padding-bottom: 4px;
        min-height: 32px;
      }

      .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
    }
  }
}

.purchase-btn {
  display: block;
  margin: 20px auto;

  mat-spinner {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    margin-right: 8px;
  }
}

.link { color: mat.get-color-from-palette(theme.$app-primary-palette, 300); }

.features {
  margin: 0;
  padding: 0 10px 10px 10px;
  list-style: none;
  text-align: left;

  .item {
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
    vertical-align: middle;

    &:last-child {
      margin-bottom: 0;
    }

    mat-icon {
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  .highlight {
    background-color: mat.get-color-from-palette(theme.$app-primary-palette, 900);
  }
}
