<app-container>
  <main *ngIf="(ltMd | async) === false">
    <header>
      <div class="mat-headline-3 title">Play with Glint below:</div>

      <p>
        Note: certain features are disabled and will do nothing - don't worry they will be available in the downloaded app!
      </p>
    </header>

    <div class="glint">
      <div class="spinner" *ngIf="(loaded | async) === false"><mat-spinner></mat-spinner></div>
      <iframe src="https://playground.glint.info" frameborder="0" (load)="loaded.next(true)"></iframe>
    </div>
  </main>

  <main *ngIf="ltMd | async">
    <p>
      Your device is too small to use the playground.
    </p>
    <p>
      Try opening this page on a desktop computer to play with the demo.
    </p>
  </main>
</app-container>
