:host {
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
  padding-top: 40px;
  text-align: center;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  .title {
    margin-bottom: 40px;
  }
}

.glint {
  height: 100%;
  padding: 20px 60px;

  iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    contain: content;
    border-radius: 5px;
  }
}
