<header class="mat-display-2">Download Glint</header>

<main>
  <div class="windows">
    <svg class="os-icon"><use xlink:href="assets/windows.svg#svg"></use></svg>
    <button mat-stroked-button color="accent" class="download-button">
      <mat-icon>file_download</mat-icon> <strong>Windows</strong>
      <br>
      Windows 8, 10, 11
    </button>
  </div>
  <div class="mac">
    <svg class="os-icon"><use xlink:href="assets/mac.svg#svg"></use></svg>
    <button mat-stroked-button color="accent" class="download-button">
      <mat-icon>file_download</mat-icon> <strong>Mac</strong>
      <br>
      macOS 10.11+, M1
    </button>
  </div>
  <div class="linux">
    <svg class="os-icon"><use xlink:href="assets/linux.svg#svg"></use></svg>
    <button mat-stroked-button color="accent" class="download-button">
      <mat-icon>file_download</mat-icon> Linux
      <br>
      App Image
    </button>
  </div>
</main>
