@use '@angular/material' as mat;
@use 'src/theme' as theme;

:host {
  display: block;
  padding-top: 40px;
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.latest-release {
  margin-bottom: 40px;
  text-align: center;
}

main {
  .download-button {
    button {
      display: block;
      padding: 10px 40px;
      width: 182px;

      mat-icon {
        margin-right: 10px;
      }
    }
  }

  .os-icon {
    > svg {
      width: 200px;
      height: 200px;
      color: mat.get-color-from-palette(theme.$app-primary-palette, 400);
    }
  }

  .snap-button {
    display: block;
    margin-top: 10px;
  }
}
