@use '@angular/material' as mat;
@use 'src/theme' as theme;

:host {
  display: block;
  padding-top: 40px;
  text-align: center;
}

app-container {
  display: flex;
  justify-content: space-between;
}

.free, .premium {
  flex: 0 0 45%;
  margin-bottom: 20px;
  padding-top: 40px;
}

.premium {
  .mat-display-1 {
    color: mat.get-color-from-palette(theme.$app-accent-palette, A100);
  }
}

.mat-display-1 {
  margin-bottom: 20px;
  font-family: 'Alegreya Sans SC', sans-serif;
  letter-spacing: 0.1rem;
}

.price {
  line-height: 32px;

  mat-form-field {
    width: 75px;

    ::ng-deep {
      .mat-form-field-wrapper {
        margin-bottom: -1.25em;
      }

      .mat-form-field-infix {
        border-top: none;
      }
    }
  }
}

.purchase-btn {
  display: block;
  margin: 20px auto;
}

.link { color: mat.get-color-from-palette(theme.$app-primary-palette, 300); }

.features {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  text-align: left;

  .item {
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
    vertical-align: middle;

    &:last-child {
      margin-bottom: 0;
    }

    mat-icon {
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  .highlight {
    background-color: mat.get-color-from-palette(theme.$app-primary-palette, 900);
  }
}
