<header>
  <mat-toolbar [class.smaller]="ltLg | async">
    <a class="home-link" routerLink="/">
      <mat-icon svgIcon="glint"></mat-icon>
      <span class="text">Glint</span>
    </a>

    <div *ngIf="ltMd | async; else links">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <ng-template #links>
    <ul class="links">
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      <li><a routerLink="/docs" routerLinkActive="active">Docs</a></li>
      <li><a routerLink="/faq" routerLinkActive="active">FAQ</a></li>
      <li><a routerLink="/features" routerLinkActive="active">Features</a></li>
      <li><a routerLink="/playground" routerLinkActive="active">Playground</a></li>
      <li><a href="https://github.com/LogicOverSnacks/glint-release/releases" target="_blank">Updates</a></li>
    </ul>

    <div class="end-links">
      <a class="account-link" routerLink="/account" routerLinkActive="active">{{ (user | async) ? 'My Account' : 'Login/Register'}}</a>
      <a routerLink="/download">
        <button mat-flat-button class="download-button" color="accent">
          Download
          <mat-icon>file_download</mat-icon>
        </button>
      </a>
    </div>
  </ng-template>
</header>

<mat-sidenav-container [style.padding-top.px]="(isXs | async) ? 56 : 64">
  <mat-sidenav
    [style.visible]="ltMd | async"
    [fixedTopGap]="(isXs | async) ? 56 : 64"
    fixedInViewport
    position="end"
    mode="over"
    #sidenav
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/download" routerLinkActive="active">Download</a>
      <a mat-list-item routerLink="/contact" routerLinkActive="active">Contact</a>
      <a mat-list-item routerLink="/docs" routerLinkActive="active">Docs</a>
      <a mat-list-item routerLink="/faq" routerLinkActive="active">FAQ</a>
      <a mat-list-item routerLink="/features" routerLinkActive="active">Features</a>
      <a mat-list-item href="https://github.com/LogicOverSnacks/glint-release/releases" target="_blank">Updates</a>
      <a mat-list-item routerLink="/account" routerLinkActive="active">{{ (user | async) ? 'My Account' : 'Login/Register'}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>

    <footer>
      <hr>
      By downloading and using Glint, you agree to the <a routerLink="eula">license agreement</a>, <a routerLink="/terms">terms of service</a> and <a routerLink="/privacy">privacy policy</a>.<br>
      © {{ currentYear }} Logic Over Snacks Ltd.
      <hr>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
