<header>
  <mat-toolbar ngClass.lt-lg="smaller">
    <a class="home-link" routerLink="/">
      <mat-icon svgIcon="glint"></mat-icon>
      <span class="text">Glint</span>
    </a>

    <ul class="links" fxShow fxHide.lt-md="true">
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      <li><a routerLink="/docs" routerLinkActive="active">Docs</a></li>
      <li><a routerLink="/faq" routerLinkActive="active">FAQ</a></li>
      <li><a routerLink="/playground" routerLinkActive="active">Playground</a></li>
      <li><a routerLink="/pricing" routerLinkActive="active">Pricing</a></li>
      <li><a href="https://github.com/LogicOverSnacks/glint-release/releases" target="_blank">Updates</a></li>
    </ul>

    <div class="end-links" fxShow fxHide.lt-md="true">
      <a class="account-link" routerLink="/account" routerLinkActive="active">{{ (user | async) ? 'My Account' : 'Login/Register'}}</a>
      <a routerLink="/download">
        <button mat-flat-button class="download-button" color="accent">
          Download
          <mat-icon>file_download</mat-icon>
        </button>
      </a>
    </div>

    <div fxHide fxShow.lt-md="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</header>

<mat-sidenav-container [ngStyle]="{ 'padding-top': '64px' }" [ngStyle.lt-sm]="{ 'padding-top': '56px' }">
  <mat-sidenav
    [fixedTopGap]="(xsQuery | async) ? 56 : 64"
    fixedInViewport
    position="end"
    mode="over"
    fxHide
    fxShow.lt-md="true"
    #sidenav
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/download" routerLinkActive="active">Download</a>
      <a mat-list-item routerLink="/contact" routerLinkActive="active">Contact</a>
      <a mat-list-item routerLink="/docs" routerLinkActive="active">Docs</a>
      <a mat-list-item routerLink="/faq" routerLinkActive="active">FAQ</a>
      <a mat-list-item routerLink="/pricing" routerLinkActive="active">Pricing</a>
      <a mat-list-item href="https://github.com/LogicOverSnacks/glint-release/releases" target="_blank">Updates</a>
      <a mat-list-item routerLink="/account" routerLinkActive="active">{{ (user | async) ? 'My Account' : 'Login/Register'}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>

    <footer>
      <hr>
      By downloading and using Glint, you agree to the <a routerLink="eula">license agreement</a>, <a routerLink="/terms">terms of service</a> and <a routerLink="/privacy">privacy policy</a>.<br>
      © {{ currentYear }} Logic Over Snacks Ltd.
      <hr>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
