@use '@angular/material' as mat;
@use 'src/theme' as theme;

:host {
  display: block;
  height: 100%;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 500;

  .download-button {
    background-color: mat.get-color-from-palette(theme.$app-accent-palette, 300);
  }

  .links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      margin: 0 20px;

      > a.active {
        color: mat.get-color-from-palette(theme.$app-primary-palette, 300);
      }
    }
  }
}

mat-sidenav-container {
  height: 100%;
}

footer {
  text-align: center;
  padding: 40px;
}
