<header>
  <mat-toolbar [class.smaller]="ltLg | async">
    <a class="home-link" routerLink="/">
      <mat-icon svgIcon="glint"></mat-icon>
      <span class="text">Glint</span>
    </a>

    <div *ngIf="ltMd | async; else links">
      <button mat-icon-button (click)="sidenav.toggle()" aria-label="Show/Hide Menu" i18n-aria-label>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <ng-template #links>
    <ul class="links">
      <li><a routerLink="/contact" routerLinkActive="active" i18n>Contact</a></li>
      <li><a routerLink="/docs" routerLinkActive="active" i18n>Docs</a></li>
      <li><a routerLink="/faq" routerLinkActive="active" i18n>FAQ</a></li>
      <li><a routerLink="/features" routerLinkActive="active" i18n>Features</a></li>
      <li><a routerLink="/playground" routerLinkActive="active" i18n>Playground</a></li>
      <li><a href="https://github.com/LogicOverSnacks/glint-release/releases" target="_blank" i18n>Updates</a></li>
    </ul>

    <div class="end-links">
      <a class="account-link" routerLink="/account" routerLinkActive="active" *ngIf="user | async" i18n>My Account</a>
      <a class="account-link" routerLink="/account" routerLinkActive="active" *ngIf="(user | async) === null" i18n>Login/Register</a>
      <a routerLink="/download">
        <button mat-flat-button class="download-button" color="accent">
          <ng-container i18n>Download</ng-container>
          <mat-icon>file_download</mat-icon>
        </button>
      </a>
    </div>
  </ng-template>
</header>

<mat-sidenav-container [style.padding-top.px]="(isXs | async) ? 56 : 64">
  <mat-sidenav
    [style.visible]="ltMd | async"
    [fixedTopGap]="(isXs | async) ? 56 : 64"
    fixedInViewport
    position="end"
    mode="over"
    #sidenav
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/download" routerLinkActive="active" i18n>Download</a>
      <a mat-list-item routerLink="/contact" routerLinkActive="active" i18n>Contact</a>
      <a mat-list-item routerLink="/docs" routerLinkActive="active" i18n>Docs</a>
      <a mat-list-item routerLink="/faq" routerLinkActive="active" i18n>FAQ</a>
      <a mat-list-item routerLink="/features" routerLinkActive="active" i18n>Features</a>
      <a mat-list-item href="https://github.com/LogicOverSnacks/glint-release/releases" target="_blank" i18n>Updates</a>
      <a mat-list-item routerLink="/account" routerLinkActive="active" *ngIf="user | async" i18n>My Account</a>
      <a mat-list-item routerLink="/account" routerLinkActive="active" *ngIf="(user | async) === null" i18n>Login/Register</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>

    <footer>
      <hr>
      <ng-container i18n>
        By downloading and using Glint, you agree to the <a routerLink="eula">license agreement</a>, <a routerLink="/terms">terms of service</a> and <a routerLink="/privacy">privacy policy</a>.<br>
        © {{ currentYear }} Logic Over Snacks Ltd.
      </ng-container>
      <br>
      <mat-select [formControl]="languageControl">
        <mat-select-trigger>
          <span *ngIf="languageControl.value === 'en'">
            <svg class="country-flag"><use xlink:href="assets/en.svg#svg"></use></svg> English
          </span>
          <span *ngIf="languageControl.value === 'zh'">
            <svg class="country-flag"><use xlink:href="assets/zh.svg#svg"></use></svg> 中文
          </span>
        </mat-select-trigger>
        <mat-option value="en"><svg class="country-flag"><use xlink:href="assets/en.svg#svg"></use></svg> English</mat-option>
        <mat-option value="zh"><svg class="country-flag"><use xlink:href="assets/zh.svg#svg"></use></svg> 中文</mat-option>
      </mat-select>
      <hr>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
