@use '@angular/material' as mat;
@use 'src/theme' as theme;

:host {
  display: block;
  height: 100%;
}

mat-toolbar {
  display: flex;
  font-family: 'Alegreya Sans SC', sans-serif;
  letter-spacing: 0.1rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 500;

  .home-link {
    flex: 1;
    display: flex;
    align-items: center;
    font-family: 'Alegreya Sans SC', sans-serif;

    font-size: 32px;
    line-height: 64px;

    mat-icon {
      width: 36px;
      height: 36px;
      font-size: 0;
      margin-right: 15px;
    }
  }

  .links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      margin: 0 20px;

      > a.active {
        color: mat.get-color-from-palette(theme.$app-primary-palette, 300);
      }
    }
  }

  .end-links {
    flex: 1;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;

    .account-link {
      margin: 0 20px 0 10px;
      font-size: 16px;

      &.active {
        color: mat.get-color-from-palette(theme.$app-primary-palette, 300);
      }
    }

    .download-button {
      background-color: mat.get-color-from-palette(theme.$app-accent-palette, 300);
    }
  }

  &.smaller {
    font-size: 16px;

    .links > li {
      margin: 0 10px;
    }
  }
}

mat-sidenav-container {
  height: 100%;

  .mat-mdc-list-item {
    &.active {
      color: mat.get-color-from-palette(theme.$app-primary-palette, 300);
    }
  }
}

footer {
  text-align: center;
  padding: 40px;

  hr {
    margin: 20px 0;
  }

  a {
    color: mat.get-color-from-palette(theme.$app-primary-palette, 300);
  }
}
