@use '@angular/material' as mat;
@use 'src/theme' as theme;

:host {
  display: block;
  height: 100%;
}

.home-link {
  display: flex;
  align-items: center;

  // font-family: 'Goldman', cursive;
  // font-family: 'Jura', sans-serif;
  // font-family: 'Syncopate', sans-serif;
  font-family: 'Alegreya Sans SC', sans-serif;

  font-size: 28px;
  line-height: 64px;

  mat-icon {
    width: 32px;
    height: 32px;
    font-size: 0;
    margin-right: 10px;
  }
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 500;

  .download-button {
    background-color: mat.get-color-from-palette(theme.$app-accent-palette, 300);
  }

  .links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      margin: 0 20px;

      > a.active {
        color: mat.get-color-from-palette(theme.$app-primary-palette, 300);
      }
    }
  }
}

mat-sidenav-container {
  height: 100%;
}

footer {
  text-align: center;
  padding: 40px;
}
