@use 'sass:map';
@use '@angular/material' as mat;
@use 'src/theme' as theme;

:host {
  display: block;
  padding-top: 40px;
}

app-container {
  display: flex;
}

.side-menu {
  flex: 0 0 auto;
  width: 200px;

  .fixed-container {
    position: fixed;
    width: 200px;
  }

  &.lt-md {
    width: auto;

    .fixed-container {
      position: relative;
      width: auto;
    }
  }

  mat-expansion-panel {
    &.active {
      color: mat.get-color-from-palette(theme.$app-primary-palette, 300);
    }

    mat-expansion-panel-header {
      gap: 20px;

      // the last letter 's' from 'Submodules' was getting cut-off for some reason
      ::ng-deep .mat-content {
        overflow: visible;
      }
    }
  }

  .articles-list, .toc {
    list-style: none;
    margin: 0;
    padding-left: 10px;

    > li {
      line-height: 1.1;
      padding: 5px 0;
    }

    a {
      display: block;
      color: mat.get-color-from-palette(map.get(mat.get-color-config(theme.$app-theme), foreground), text);

      &.active {
        color: mat.get-color-from-palette(theme.$app-primary-palette, 300);
      }
    }
  }
}

article {
  flex: 1 1 auto;
  min-height: 350px;

  markdown ::ng-deep {
    h1 {
      @include mat.typography-level(theme.$app-typography, headline-3);
      margin-top: 60px;

      &:first-child {
        margin-top: 0;
      }
    }
    h2 {
      @include mat.typography-level(theme.$app-typography, headline-4);
      margin-top: 40px;
    }
    h3 {
      @include mat.typography-level(theme.$app-typography, headline-5);
      margin-top: 40px;
    }
    h4 {
      margin-top: 30px;
    }

    pre {
      background: #1e1e1e;
      padding: 5px 10px;

      .language-bash::before {
        content: '$';
        color: mat.get-color-from-palette(map.get(mat.get-color-config(theme.$app-theme), foreground), disabled);
        margin-right: 10px;
      }
    }

    a {
      color: mat.get-color-from-palette(theme.$app-primary-palette, 300);
    }

    img {
      vertical-align: middle;
    }

    .fit-image {
      width: fit-content;
      max-width: 100%;
      margin-bottom: 5px;
    }

    mat-card {
      padding: 10px;
      // --mdc-elevated-card-container-color: #{mat.get-color-from-palette(theme.$app-accent-palette, 200)};
      // --mdc-outlined-card-outline-color: #{mat.get-color-from-palette(theme.$app-accent-palette, 100)};
      // color: #000;

      // from mat-card theme
      --mdc-elevated-card-container-color: #424242;
      --mdc-outlined-card-outline-color: #595959;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
      border-width: var(--mdc-outlined-card-outline-width, 1px);
      border-style: solid;
      border-color: var(--mdc-outlined-card-outline-color, transparent);
      position: relative;
      border-radius: var(--mdc-elevated-card-container-shape, var(--mdc-shape-medium, 4px));
      background-color: var(--mdc-elevated-card-container-color, transparent);
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
    }
  }
}



// mat-form-field {
//   margin-left: 20px;
//   font-size: 14px;
// }
