@use '@angular/material' as mat;

$app-typography: mat.m2-define-typography-config(
  $font-family: 'Montserrat'
);

$app-primary-palette: mat.m2-define-palette(mat.$m2-blue-grey-palette, 400);
$app-accent-palette:  mat.m2-define-palette(mat.$m2-orange-palette, A100, A200, A400);
$app-warn-palette:    mat.m2-define-palette(mat.$m2-red-palette, 300);

$app-theme: mat.m2-define-dark-theme((
  color: (
    primary: $app-primary-palette,
    accent: $app-accent-palette,
    warn: $app-warn-palette
  ),
  typography: $app-typography
));
