@use '@angular/material' as mat;
@use './theme' as theme;

*, *::before, *::after { box-sizing: border-box; }
html, body { height: 100%; }
body, h1, h2, h3, h4, p, li { margin: 0; }
a { color: unset; text-decoration: unset; }

@include mat.all-component-typographies(theme.$app-typography);
@include mat.core();
@include mat.all-component-themes(theme.$app-theme);

// TODO: remove this when https://github.com/angular/components/issues/15326 is fixed
html .mat-expansion-indicator::after {
  transform: translateY(-2.8284px) rotate(45deg);
}

mat-snack-bar-container {
  color: #000;
  --mdc-snackbar-supporting-text-color: #000 !important;

  &.error {
    --mdc-snackbar-container-color: #{mat.get-color-from-palette(theme.$app-warn-palette, 300)};
  }

  &.success {
    --mdc-snackbar-container-color: #{mat.get-color-from-palette(theme.$app-primary-palette, 300)};
  }
}

.country-flag {
  width: 32px;
  height: 24px;
  vertical-align: middle;
  margin-right: 5px;
}
