@use 'sass:map';
@use '@angular/material' as mat;
@use 'src/theme' as theme;

:host {
  display: block;
}

.banner {
  padding: 60px 0;
  background: mat.get-color-from-palette(theme.$app-primary-palette, 400);

  &:nth-child(even) {
    // background: mat.get-color-from-palette(map.get(map.get(theme.$app-theme, color), background), app-bar);
    background: mat.get-color-from-palette(map.get(map.get(theme.$app-theme, color), background), background);
    text-align: right;
  }
}
