<div class="banner">
  <app-container>
    <h1 class="mat-display-3">Test</h1>
    Screen
  </app-container>
</div>

<div class="banner">
  <app-container>
    <h2 class="mat-display-1">Clean, Intuitive Interface</h2>
  </app-container>
</div>

<div class="banner">
  <app-container>
    <h2 class="mat-display-1">Powerful Features</h2>
    <p>Perform complex git tasks visually</p>
  </app-container>
</div>

<div class="banner">
  <app-container>
    <h2 class="mat-display-1">In-memory merges</h2>
    <p>Merge into a branch without checking it out</p>
  </app-container>
</div>

<div class="banner">
  <app-container>
    <h2 class="mat-display-1">Cross Platform</h2>
    <p>Runs on Windows, Mac &amp; Linux</p>
  </app-container>
</div>

<div class="download">
  <app-download></app-download>
</div>
